#cardid{
    height:520px;
    width: 650px;
    float: right;
    border-radius: 25px;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: -10px;        
    
}
.actimg{
    height: 220px;
    margin-top: 10px;
    border-radius: 20px;
    /* position: relative; */
    margin: 20px;
    padding: 3px;
    background-color: antiquewhite;
    float: right;
    margin-right: 0px;
    width: 45%;
}
.ct{
    /* position: relative; */
    font-size: 10px;
}
.image{
    border-radius: 20px;
}
/* .image:hover{
    height: 205px;
    width: 360px;
} */
/* .btn:hover{
    background-color: rgb(42, 47, 119);
    font-size: 17px;
} */