.iconflex{
    height:100%;
    width:650px;
    float: right;
    margin-right: 0px;
    /* border: 2px solid blue; */
   
}

.rounded{

    display: flex;
    height: 55px;
    width: 55px;
    margin: 10px;
    margin-top: 0px;
    padding: 3px;
    float: left;
}

.rounded:hover{
    height: 50px;
    background: rgb(207, 238, 218);;
}